.team {
    grid-column: span 12;
    display: grid;
    grid-template-columns: var(--grid);
    max-width: var(--max-width);
    gap: var(--grid-gap);
}

.descriptor {
    grid-column: span 12;
    display: flex;
    width: 100%;
    gap: 30px;
    padding: 50px 20px 50px 50px;
    border: 2px solid var(--color-primary-500);
    color: var(--color-neutral-white);
    box-shadow:
        inset 10px 10px 20px rgba(242, 89, 18, .4),
        inset -10px -10px 20px rgba(242, 89, 18, .4);
    margin-bottom: 46px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.title {
    font-family: var(--font-family-tertiary);
    font-weight: bold;
    font-size: 38px;
}

.aboutTeam {
    font-family: var(--font-family-primary);
    font-size: 26px;
    line-height: 34px;
}

.members {
    grid-column: 1/4;
    display: flex;
    align-items: start;
    padding: 25px;
    gap: 25px;
    flex-direction: column;
    box-shadow:
        inset 7px 7px 20px rgba(247, 157, 115, .5),
        inset -7px -7px 20px rgba(247, 157, 115, .5);
    height: 760px;
    overflow-y: auto;
    border: 2px solid var(--color-primary-300);
}

.members::-webkit-scrollbar {
    width: 5px;
}

.members::-webkit-scrollbar-track {
    background: transparent
}

.members::-webkit-scrollbar-thumb {
    background: var(--color-primary-300);
    border-radius: 10px;
}

.memberTitle {
    font-family: var(--font-family-tertiary);
    font-size: 17px;
    font-weight: bold;
    color: var(--color-neutral-white);
}

.membersList {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.member {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    font-family: var(--font-family-secondary);
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--color-neutral-white);
    font-weight: bold;
}

.projects {
    grid-column: 4/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 760px;
    border: 2px solid var(--color-primary-600);
    box-shadow:
        inset 7px 7px 20px rgba(242, 89, 18, .4),
        inset -7px -7px 20px rgba(242, 89, 18, .4);
    padding: 40px;
    gap: 40px;
    margin-bottom: 70px;
}

.hat {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.hatSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.projectsTitle {
    font-family: var(--font-family-tertiary);
    font-weight: 600;
    font-size: 36px;
    color: var(--color-neutral-white);
}

.search {
    width: 440px;
    padding: 14px 12px;
    border: 2px solid var(--color-primary-500);
    display: flex;
    align-items: center;
    box-shadow:
        inset 6px 6px 10.4px rgba(242, 89, 18, .2),
        inset 6px 6px 10.4px rgba(242, 89, 18, .2);
}

.searchField {
    font-family: var(--font-family-tertiary);
    font-weight: bold;
    font-size: 20px;
    color: var(--color-neutral-white);
    background: none;
    border: none;
    width: 100%;
}

.searchField::placeholder {
    color: rgba(253, 225, 211, 76%);
}

.searchField:focus {
    outline: none;
}

.projectsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.project {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
    border-top: 2px solid var(--color-primary-600);
    border-bottom: 2px solid var(--color-primary-600);
    color: var(--color-neutral-white);
}

.projectDescriptor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.projectDescriptorHat {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.projectTitle {
    font-family: var(--font-family-tertiary);
    font-size: 26px;
    font-weight: bold;
}

.countOfMembers {
    font-family: var(--font-family-tertiary);
    font-size: 20px;
    font-weight: bold;
}

.date {
    font-family: var(--font-family-tertiary);
    font-size: 20px;
    font-weight: bold;
}

.status {
    font-family: var(--font-family-tertiary);
    font-size: 20px;
    font-weight: bold;
}

.aboutProject {
    font-family: var(--font-family-primary);
    font-size: 18px;
}

.comments {
    grid-column: span 12;
    border: 2px solid var(--color-primary-500);
    padding: 40px;
    background: var(--color-neutral-black);
    box-shadow:
        inset 10px 10px 20px rgba(242, 89, 18, 40%),
        inset -10px -10px 20px rgba(242, 89, 18, 40%);
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 46px;
}

.comHat {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.comTitle {
    color: var(--color-neutral-white);
    font-family: var(--font-family-primary);
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
}

.comInput {
    width: 700px;
}

.comList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.comment {
    display: flex;
    align-items: start;
    gap: 30px;
    border-top: 2px solid var(--color-primary-500);
    border-bottom: 2px solid var(--color-primary-500);
    padding: 20px 0;
    width: 100%;
    color: var(--color-neutral-white);
}

.comText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.comName {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1px;
}

.comContext {
    font-family: var(--font-family-primary);
    font-size: 22px;
    letter-spacing: 1px;
}

.leaveTheTeam {
    grid-column: 10/13;
}